@keyframes color {
    100% {
        transform: translate(1%, -1%);
    }
    10% {
        transform: translate(0%, -1%);
    }
    20% {
        transform: translate(-1%, 1%);
    }
    30% {
        transform: translate(-2%, 2%);
    }
    40% {
        transform: translate(-15%, -0%);
    }
    50% {
        transform: translate(0%, 1%);
    }
    60% {
        transform: translate(-10%, 1%);
    }
    90% {
        transform: translate(1%, 2%);
    }
}
@keyframes grain {
    0%,
    100% {
        transform: translate(-5%, -10%);
    }
    10% {
        transform: translate(0%, -5%);
    }
    20% {
        transform: translate(-10%, -15%);
    }
    30% {
        transform: translate(-20%, -0%);
    }
    40% {
        transform: translate(-25%, -10%);
    }
    50% {
        transform: translate(0%, -5%);
    }
    60% {
        transform: translate(-10%, 0%);
    }
    70% {
        transform: translate(-20%, -5%);
    }
    80% {
        transform: translate(0%, -15%);
    }
    90% {
        transform: translate(-10%, -20%);
    }
}
@keyframes color_shadow {
	0% {
		text-shadow: 10px 0px 0 cyan, 5px -5px 0 black, -10px 0px 0 yellow;
	}

	50% {
		text-shadow: 0px 5px 0 cyan, 0px 0px 0 black, 0px -5px 0 yellow;
	}

	100% {
		text-shadow: -5px -10px 0 cyan, 3px -5px 0 black, 5px 10px 0 yellow;
	}
}
