@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap');
/*spacers*/
$cont_padd: 30px;
$marg_bottom: 10px;
$inner_padd: 10px;
$cont_width: 1200px;
$marg_auto: 0 auto;
$trans_default: all 0.3s ease;
$trans-ease-in-out: height 0.3s ease , width 0.6s ease-in-out 0.5s;
$trans-ease-out: height 0.3s ease 0.3s, width 0.5s ease-in 0.6s;
$trans-ease-in: height 0.3s ease 0.3s, width 0.5s ease-in 0.7s;

$fonts: (
  "base_font": "Montserrat",
  "lined_font": "Montserrat Subrayada"
);

$colors: (
  "_gray": #1a181b,
  "_black": #000300,
  "_white": #fff,
  "_magenta": #EC008C,
  "_yellow": #faff00,
  "_blue": #02a9ea,
);
$patterns: ("stripes": url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAQElEQVQYlW2OwQ0AMAgCbw7XcMFubj81RVpeGgIcQHK1gJC/+shjtkLNTmpTaZMm05IB76YzfTedaW46k28Opg1VYQ5hW3JdzwAAAABJRU5ErkJggg=='),
	"waves": url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAJElEQVQYlWNgwAT/sYjhVIRXMbokVsW4TPhPjCJi5clXTBwAAOy+CfekNMf3AAAAAElFTkSuQmCC'),
	"squares": url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAGUlEQVQImWNIKL/tiwszJJTf9mXABQabJADsDBn0cAxsQAAAAABJRU5ErkJggg=='),
);

$font_sizes: (
"f14": 14px,
"f16": 16px,
"f17" : 17px,
"f18" : 18px,
"f20": 20px,
"f21": 21px,
"f25": 25px,
"f30": 30px,
"f35": 30px,
"f40": 40px,
"f50": 50px,
"f60": 60px,
"f70": 70px,
"f80": 80px,
"f88": 88px,
"f100": 100px,
"f120": 120px,
);

$font_weights: (
"light" : 300,
"regular" : 400,
"medium" : 500,
"bold": 600,
"bolder": 700,
"boldest": 900,
);

//768px fonts

$h3_768: 20px;
